
.account-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.account-details {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #F5F5DC;
  margin-bottom: 20px;
  text-align: center;
}

.account-details h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.profile-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid orange;
  object-fit: cover;
}

.profile-info h3 {
  font-size : 30px;
  margin : 10px auto;
}

.profile-info p {
font-size : 18px;
  margin: 5px 0;
}

.profile-info strong {
  font-weight: bold;
}

.order-info {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
}

.order-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.order-list {
  margin-top: 20px;
}

.order-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  margin-bottom: 15px;
}

.order-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.order-item p {
  margin: 5px 0;
}

.order-items {
  margin-top: 10px;
}

.order-detail-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.order-item-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.order-item-details {
  flex: 1;
}

.order-item-details h4 {
  font-size: 18px;
  margin: 5px 0;
}

.order-item-details p {
  margin: 3px 0;
}


.order-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.order-filters button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.order-filters button:nth-child(1) {
  background-color: #FFA07A;
  color: #fff;
}

.order-filters button:nth-child(1):hover {
  background-color: #FF7F50;
}

.order-filters button:nth-child(2) {
  background-color: #87CEFA;
  color: #fff;
}

.order-filters button:nth-child(2):hover {
  background-color: #00BFFF;
}

.order-filters button:nth-child(3) {
  background-color: #FFD700;
  color: #fff;
}

.order-filters button:nth-child(3):hover {
  background-color: #FFA500;
}

.order-filters button:nth-child(4) {
  background-color: #90EE90;
  color: #fff;
}

.order-filters button:nth-child(4):hover {
  background-color: #32CD32;
}

